# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Run all Jupyter notebooks
        run: |
          papermill installation.ipynb tmp.ipynb
          papermill tp1.ipynb tmp.ipynb
          papermill tp2.ipynb tmp.ipynb
          rm tmp.ipynb
          cd ./exemples/
          papermill Examples-Visualization.ipynb tmp.ipynb
          papermill bases.ipynb tmp.ipynb
          rm tmp.ipynb

